@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to employee page</h1>       
</div>

<h2>@ViewBag.DIDATA</h2>


<a asp-area="" asp-controller="Employee" asp-action="Details">Details</a>